<html>
    <body>
        <input class="product-filter-bar" placeholder="Search Products..." [(ngModel)]="searchTerm" (ngModelChange)="searchProduct()" >
    </body>
    <div class="product-container">
        <div class="product-card" *ngFor="let item of ProductList">
            <img src="{{item.image}}" class="product-image">
            <div class="product-details">
                <span class="product-tags">{{item.category}}</span>
                <h2 class="product-name">{{item.title}}</h2>
                <p class="product-description">{{item.description}}</p>
                <span class="product-price">{{item.price | currency:'RM'}}</span>
            </div>
        </div>
    </div>
</html>
