<section>
    <input [(ngModel)]="todoItem" type="text" placeholder="Add your todo item">
    <button *ngIf="!isUpdateOpen" (click)="addItem()">Add</button>
    <button *ngIf="isUpdateOpen" (click)="updateItem()">Update</button>
    <button *ngIf="isUpdateOpen" (click)="cancelUpdate()">Cancel</button>
</section>
  
  <ul class="todo-list">
    <li *ngFor="let item of todoItems; let i = index">
      {{ item }}
      <button (click)="openUpdateForm(i)">Update</button>
      <button (click)="deleteItem(i)">Delete</button>
    </li>
  </ul>
  
  <!-- <div *ngIf="isUpdateOpen">
    <input [(ngModel)]="updateText" type="text" placeholder="Update your todo item">
    <button (click)="updateItem()">Save</button>
    <button (click)="closeUpdateForm()">Cancel</button>
  </div> -->