input{
    font-size: 20px;
}

ul {
    font-family: Lato;
    background: purple;
    color: white;
    padding: 20px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}